snippet pdb
	import pdb; pdb.set_trace()

snippet ipdb
	import ipdb; ipdb.set_trace()

snippet pudb
	import pudb; pudb.set_trace()

snippet rpdb
	import rpdb2; rpdb2.start_embedded_debugger('1', fAllowRemote=True)
